*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

nav {
    width: 600px;
    margin: 10px auto 200px;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3)
}

nav::after {
    content: '';
    display: block;
    clear: both;
}


nav>ul>li {
    float: left;
    position: relative;
}

nav>ul>li:hover .child {
    display: block;
}

nav a {
    padding: 12px;
    display: block;
    min-width: 20px;
}

nav a:hover {
    background-color: #CCCCCC;
}

nav .child {
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3);
    position: absolute;
    top: 100%;
    display: none;

}




.Notice {
    width: 600px;
    margin: 0 auto;
}

.Notice div {
    margin-top: 26px;
    position: relative;
    border-radius: 5px;
    /*height: 100px;*/
}

.Notice h2 {
    display: block;
    padding: 8px 16px;
}

.Notice p {
    display: block;
    padding: 14px 16px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.Notice .first {
    color: #fff;
    background: #4CAF50;
}

.Notice .second {
    color: #fff;
    background: #2196F3;
}

.Notice .third {
    color: #fff;
    background: #F44336;
}
.Notice .fourth {
    color: #fff;
    background: #FF9800;
}